<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Намба. <% unless @main %><%= @photos['param']['album']['title'] %><% end %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">

  <script src="/jquery-1.8.3.min.js"></script>
  <script src="/jquery.wookmark.min.js"></script>
  <script src="/jquery.imagesloaded.js"></script>
</head>

<body style="font-family: 'Lobster', cursive;">

<div id="container">
  <script>
    function gaSSDSLoad (acct, domain) {
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."),
          pageTracker,
          s;
      s = document.createElement('script');
      s.src = gaJsHost + 'google-analytics.com/ga.js';
      s.type = 'text/javascript';
      s.onloadDone = false;
      function init () {
        if (_gat != 'undefined') {
          pageTracker = _gat._getTracker(acct);
          pageTracker._trackPageview();
          pageTracker._setDomainName(domain);
        }
      }
      s.onload = function () {
        s.onloadDone = true;
        init();
      };
      s.onreadystatechange = function() {
        if (('loaded' === s.readyState || 'complete' === s.readyState) && !s.onloadDone) {
          s.onloadDone = true;
          init();
        }
      };
      document.getElementsByTagName('head')[0].appendChild(s);
    }
  </script>

  <script type="text/javascript">
    var __GA_UA__ = 'UA-11186328-2';
    window.onload = function () { gaSSDSLoad("UA-11186328-2", ".namba.kg"); };
  </script>
  <!-- Yandex.Metrika counter -->
  <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter5249776 = new Ya.Metrika(5249776);
          yaCounter5249776.clickmap(true);
          yaCounter5249776.trackLinks(true);

        } catch(e) { }
      });
    })(window, 'yandex_metrika_callbacks');
  </script></div>
  <script src="http://mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
  <noscript><div><img src="http://mc.yandex.ru/watch/5249776" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <!-- WWW.NET.KG , code for http://namba.kg -->
  <div style="text-align: right;">
  <a href="http://www.net.kg/">
    <script language="javascript">
      java="1.0";
      java1=""+"refer="+escape(document.referrer)+"&page="+
          escape(window.location.href);
      document.cookie="astratop=1; path=/"; java1+="&c="+(document.cookie?"yes":"now");
    </script>
    <script language="javascript1.1">java="1.1";java1+="&java="+(navigator.javaEnabled()?"yes":"now")</script>
    <script language="javascript1.2">java="1.2";
    java1+="&razresh="+screen.width+'x'+screen.height+"&cvet="+
        (((navigator.appName.substring(0,3)=="Mic"))?
            screen.colorDepth:screen.pixelDepth)</script><script language="javascript1.3">java="1.3"</script>
    <script language="javascript">java1+="&jscript="+java+"&rand="+Math.random();
    document.write("<a href='http://www.net.kg/?fromsite=239' target='_blank'><img "+
        " src='http://www.net.kg/img.php?id=239&"+java1+"&' border=0 alt='WWW.NET.KG' width='21' height='16'></a>")</script>

    <noscript><a href=http://www.net.kg/?fromsite=239 target=_blank><img src="http://www.net.kg/img.php?id=239" border=0 alt="WWW.NET.KG" width='21' height='16'></a></noscript>
  </a>
  </div>
  <!-- /WWW.NET.KG -->

  <header>
    <h1><a href="/"><img src="/namba.png"></a></h1>
    <p><% unless @main %><a href="http://namba.kg/#!/photo/album/<%= @photos['param']['id'] %>/"><%= @photos['param']['album']['title'] %></a><% else %>Лучшие фотоальбомы пользователей <a href="http://namba.kg">namba.kg</a><% end %></p>
  </header>
  <div id="main" role="main">
    <ul id="tiles">

      <% if @main %>
        <% @photos['albums'].each do |album|  %>
          <li><a href="/album/<%= album['id']%>"><img border="0" width="300" src="<%= album['big_cover'] %>"></a></li>
        <% end %>
      <% else %>
        <% @photos['elements'].each do |element|  %>
          <li><a href="http://namba.kg/#!/photo/<%= element['id']%>"><img border="0" width="300" src="<%= element['big_preview'] %>"></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <footer style="padding-bottom: 20px;">
    <div style="text-align: center;"><progress id="progress-bar" style="display: none;"></progress></div>
  </footer>
</div>


<!-- Once the images are loaded, initalize the Wookmark plug-in. -->
<script type="text/javascript">
  var handler = null;
  var page = 2;
  var options = {
    autoResize: true, // This will auto-update the layout when the browser window is resized.
    container: $('#main'), // Optional, used for some extra CSS styling
    offset: 5, // Optional, the distance between grid items
    itemWidth: 310 // Optional, the width of a grid item
  };

  var imagesLoadedFunction = function($images, $proper, $broken) {
    // Prepare layout options.
    x = 1;

    $images.each( function() {
      var $this = $(this).css({ left: x });
      x += $this.width() + 1;
    });

    // Get a reference to your grid items.
    handler = $('#tiles li');
    // Call the layout function.
    handler.wookmark(options);
  }

  var progressFunction = function( isBroken, $images, $proper, $broken ){
    if ($proper.length + $broken.length == $images.length) {
      $("#progress-bar").hide();
    } else {
      $("#progress-bar").show();
      $("#progress-bar").attr("value", $proper.length + $broken.length);
      $("#progress-bar").attr("max",   $images.length);
    }
  }

  var imalo = $('#tiles').imagesLoaded(imagesLoadedFunction);
  imalo.progress(progressFunction);

  /**
   * When scrolled all the way to the bottom, add more tiles.
   */
  var onScrollFunction = function onScroll() {
    var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 300);
    if (closeToBottom && page && !$("#progress-bar").is(':visible')) {
      var items = $('#tiles li');

      $.getJSON('<% unless @main %>/album/<%= @id %><% end %>/' + page, function(data) {
        var items = [];
        if (data == null) {
          page = null;
          return;
        }
        $.each(data, function(key, val) {
          var li = document.createElement('li');
          <% if @main %>
            li.innerHTML = '<a href="/album/'+val.id+'"><img width="300" src="' + val.big_cover + '"></a>';
          <% else %>
            li.innerHTML = '<a href="http://namba.kg/#!/photo/'+val.id+'"><img width="300" src="' + val.big_preview + '"></a>';
          <% end %>
          items.push(li);
        });

        $('#tiles').append(items);

        if(handler) handler.wookmarkClear();
        imalo = $('#tiles').imagesLoaded(imagesLoadedFunction);
        imalo.progress(progressFunction);
      });

      page++;
    }
  }

  $(document).ready(new function() {
    $(document).bind('scroll', onScrollFunction);
  });
</script>

</body>
</html>